/* 取消符号面板的使用限制 */
.symbol-palette-container div.symbol-palette-overlay.small {
    display: none;
}

/* 功能面板 */
#init {
    position: fixed;
    z-index: 9999;
    top: -98%;
    left: 3%;
    width: 94%;
    align-items: center;
    background-color: #fefdff;
    border: 2pt solid #3F3351;
    border-left: 6pt solid #3F3351;
    border-right: 6pt solid #3F3351;
    border-radius: 4pt;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes init-hiden {
    0% {
        top: 0%;
    }

    100% {
        top: -150%;
    }
}

@keyframes init-show {
    0% {
        top: -150%;
    }

    100% {
        top: 0%;
    }
}

.inithiden {
    animation-name: init-hiden;
}

.initshow {
    animation-name: init-show;
}


#tolgo {
    position: fixed;
    z-index: 9999;
    left: 15%;
    top: 0%;
    border: 2px solid #ffffffc5;
    border-top: 0pt solid #ffffff76;
    border-bottom-left-radius: 10pt;
    border-bottom-right-radius: 10pt;
    background-color: #138a07;
    padding: 8pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
    align-items: center;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.latexapp {
    font-family: Lato, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

@keyframes togle-hiden {
    0% {
        top: 0%;
    }

    100% {
        top: -38%;
    }
}

@keyframes togle-show {
    0% {
        top: -38%;
    }

    100% {
        top: 0%;
    }
}

.toghiden {
    animation-name: togle-hiden;
}

.togshow {
    animation-name: togle-show;
}





/* 所有 tool 菜单对应的面板默认为不显示 */
.must {
    display: none;
}



.mustesc {
    width: auto;
    background-color: #cdf007;
    /* 防止文字换行 */
    white-space: nowrap;
    font-size: 10pt;
    font-weight: bold;
    color: #1c1c1c;
    padding-left: 5pt;
    padding-right: 5pt;
}


.mustinfo {
    border: none;
    /* 右边元素填充剩余空间 */
    flex-grow: 1;
    /* 防止文字换行 */
    white-space: nowrap;
    background-color: #864879;
    font-size: 10pt;
    font-weight: bold;
    color: #ffffff;
    padding-left: 5pt;
}