div.modal-header.themehere {
    padding-bottom: 1pt;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}


div.modal-body.exampleHere {
    padding-top: 5pt;
    padding-bottom: 5pt;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;

}

div.modal-body.macroHere {
    padding-top: 5pt;
    padding-bottom: 5pt;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.code.macro.example {
    max-height: 500px;
    line-height: 1.3;
    font-size: 9pt;
    border-top-right-radius: 4pt;
    border-top-left-radius: 2pt;
    border-bottom-left-radius: 2pt;
    border-bottom-right-radius: 4pt;
    border:1px solid #c1c1c1;
    border-left: 4px solid #cf4444;
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.0259);
    padding: 4pt;
    overflow-y: auto;
    overflow-x: hidden;
    color: #262626;
}

.code.macro.here {
    max-height: 500px;
    line-height: 1.3;
    font-size: 9pt;
    border-top-right-radius: 4pt;
    border-top-left-radius: 2pt;
    border-bottom-left-radius: 2pt;
    border-bottom-right-radius: 4pt;
    border:1px solid #c1c1c1;
    border-left: 4px solid #85bf7a;
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.0259);
    padding: 4pt;
    overflow-y: auto;
    overflow-x: hidden;
    color: #40474e;

}

.code.macro pre {
    padding: 4pt;
    margin: 0pt;
}









div.modal-body.tagHere {
    padding-top: 1pt;
    padding-bottom: 1pt;
    margin-top: 4pt;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    width: 100%;
    max-height: 300px;
    border-bottom: 1px solid #c1c1c15d;
}




.btn.btn-primary.tag {
    border: 0.15pt solid #939393d8;
    border-radius: 6pt;
    padding: 4pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
    margin: 2pt;
    font-size: 8pt;
    line-height: 11pt;
    color: #495057;
    background-color: #ffffff;
    flex: 0 0 auto;
    font-weight: bold;
    font-family: monospace, monospace;
}




.btn.btn-primary.tag.add {
    border: 0.5pt solid #939393d8;
    border-radius: 6pt;
    padding: 4pt;
    padding-top: 1pt;
    padding-bottom: 1pt;
    font-size: 9pt;
    line-height: 12pt;
    color: #3d3d3db3;
    font-family: monospace, monospace;
    background-color: #ffffff;
    flex: 0 0 auto;
}









/* 搜索输入框 + 下拉选项 容器 */
div.modal-title.tool.seasel {
    border: 0.2pt solid #5b5d5f5b;
    border-radius: 4pt;
    width: 93%;
    padding: 4pt;
    margin: 4pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
    background-color: #FFFFFF;
    display: flex;
}

/* 搜索输入框样式 */
input#latex-macro-search {
    border: 0pt solid #c1c1c1;
    border-radius: 20pt;
    padding: 4pt;
    font-size: 14px;
    width: 15%;
}

/* 搜索输入框聚集时 */
input#latex-macro-search:focus {
    outline: none;
}

/* 下拉选项的容器 */
div.modal-title.tool.select {
    background-color: #FFFFFF;
    border-radius: 2pt;
    padding: 2pt;
    border: 0pt solid #c1c1c1;
    width: 85%;
}

/* 下拉选项本身 */
.maseeselect {
    border-radius: 2pt;
    border: 1px solid #c1c1c1af;
    margin: 2px;
    font-size: 14px;
    font-family: monospace, monospace;
    color: #40474e;
    max-height: 100px;
    min-width: 5%;
    overflow-y: auto;
}